<div aria-atomic="true" aria-live="assertive" class="toast colored-toast fade show" id="successToast"
     role="alert">
  <div class="toast-header-container">
    <div class="toast-top-border"></div>
    <div class="d-flex toast-body-container">
      <img alt="success" class="success-icon" src="assets/icon/custom/toast-success.svg">
      <p class="me-auto toast-content">{{ toastPackage.message }}</p>
      <img [id]="id" alt="close" aria-label="Close" class="close-icon" data-bs-dismiss="toast"
           src="assets/icon/custom/x-green.svg">
    </div>
  </div>
</div>

